:root {
  --darkGray: #222;
  --gray: #444;
  --lightGray: #555;
  --blackWhite: #aaa;
  --darkWhite: #eee;
  --white: #fff;
  --aquaMarine: aquamarine;

}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--darkWhite);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--darkGray);
}

li {
  list-style: none;
}

.card {
  margin: 0;
  width: 100%;
  height: 30vh;
  background-color: var(--gray);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 7px 5px 3px var(--lightGray);
}

.timer-clicker {
  width: 10em;
  height: 5em;
  background-color: var(--aquaMarine);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .25s ease;
}

.card-header-text {
  text-align: center;
  font-size: x-large;
  margin-bottom: 5px;
}

.timer-text {
  text-align: center;
  display: flex;
  color: var(--gray)
}

.timer-length {
  color: var(--blackWhite);
  font-style: italic;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.timer-display {
  width: 10em;
  height: 5em;
  display: none;
  justify-content: center;
  align-items: center;
}

.timer-time {
  font-size: 30px;

}

#nav-bar {
  margin: auto;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  width: 100%;
  background-color: var(--gray);
}

#title-text {
  margin: 0;
  margin-left: 50px;
  font-size: 50px;
}

#length-of-days {
  margin-right: 30px;
}

#card-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:auto;
  height: 100vh;
}

#card-holder {
  display: flex;
  flex-direction: row;
}

#card-text {
  cursor: pointer;
}

.timer-clicker:hover {
  width: 13em;
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .card {
    margin: 5px 0;
    border-radius: none;
    box-shadow: none;
  }

  #nav-bar {
    position: sticky;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #card-holder {
    flex-direction: column;
  }

  #title-text {
    margin: 0;
  }

  #length-of-days {
    margin: 0;
  }
}

@media only screen and (max-width: 390px) {
  .card {
    margin: 5px 0;
    border-radius: none;
    box-shadow: none;
    width: 100%;
  }

  #nav-bar {
    position: sticky;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #card-holder {
    flex-direction: column;
  }

  #title-text {
    margin: 0;
  }

  #length-of-days {
    margin: 0;
  }
  
}